@font-face {
    font-family: "Airfool";
    src: url("../fonts/Airfool.woff2") format("woff2");
    font-style: normal; 
    font-weight: normal; 
}

body {
    font-family: "Inter", sans-serif;
    background-color: #FAEBD7;
    margin: 0 auto;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
}

section {
    margin-bottom: 80px;
}

.container {
    padding: 32px 0px 32px 0px;
    max-width: 1140px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.page-hero-header__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 396px;
}


.page-hero-header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    margin-bottom: 64px;
}

.page-hero-header__Logo {
    font-family: "Airfool";
    color: #FE959D;
    font-size: 64px;
    margin: 0;
    width: 10%;
}


.header-nav__item {
    color: #83454A;
    font-size: 20px;
    font-weight: 700;
}

.header-nav__item-contact {
    color: #83454A;
    font-size: 20px;
    font-weight: 700;
}


.hero-header__btn {
    font-family: "Airfool";
    /* background-color: #FE959D;
    padding: 18px 35px 20px 35px; */
    border-radius: 24px;
    color: #83454A;
    font-size: 32px;
}


.hero-content-text {
    width: 456px;
}

.page-hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content__img {
    width: 50%;
}

.hero-content-text__title {
    font-family: "Airfool";
    font-size: 64px;
    letter-spacing: 4px;
    color: #FE959D;
    margin: 0px 0px 16px 0;
    font-weight: 1;
}

.hero-content-text__text {
    font-size: 20px;
    font-weight: 400;
    color: #83454A;
    margin: 0px 0px 32px 0px;
}

.hero-content-text__link{
    font-family: "Airfool";
    font-size: 36px;
    color: #83454A;
    /* background-color: #FE959D;
    padding: 10px 20px 10px 20px;
    border-radius: 18px; */
}

.btn {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    background-color: #FE959D;
    border-radius: 18px;
}


.wrap  {
    background-color: #FE959D;
    /* box-shadow: 2px 1px 9px 8px rgb(254 149 157 / 100%); */
}

.about-content-text {
    width: 456px;
}


.about-content-text__title {
    font-family: "Airfool";
    font-size: 48px;
    color: #83454A;
    margin-bottom: 16px;
    margin-top: 0px;
    font-weight: 100;
}

.about-content-text__text {
    font-size: 24px;
    color: #FAEBD7;
    margin-bottom: 28px;
    margin-top: 0px;
}

.page-about-content {
    display: flex;
    justify-content: start;
    align-items: start;
}

.about-content__img {
    width: 45%;
    margin-right: 60px;
}


.page-menu__title-container {
    display: flex;
    justify-content: center;
}

.menu-content__title {
    font-family: "Airfool";
    font-size: 48px;
    font-weight: 100;
    color: #FE959D;
    margin-bottom: 40px;
}


.content__coffe-menu {
    width: 358px;
    height: 516px;
    background-color: #83454A;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffe-menu__stroke {
    border: solid #FAEBD7 2px;
    width: 318px;
    height: 460px;
}

.coffe-menu__title-container {
    display: flex;
    justify-content: center;
    padding: 24px 0px 16px 0px;
}

.coffe-menu__title{
    font-family: Airfool;
    color: #FAEBD7;
    font-weight: 100;
    font-size: 32px;
}

.coffe-menu__item {
    margin-bottom: 12px;
}

.coffe-menu__item h4 {
    color: #FAEBD7;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}

.coffe-menu__item p {
    color: #FAEBD7;
    font-size: 12px;
    font-weight: 400;
}



