
@font-face {
    font-family: "Airfool";
    src: url("../fonts/Airfool.woff2") format("woff2");
    font-style: normal; 
    font-weight: normal; 
}




body {
    font-family: "Inter", sans-serif;
    background-color: #FAEBD7;
    margin: 0 auto;
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
}

section {
    margin-bottom: 80px;
}

html {
    scroll-behavior: smooth;
  }











.anchor {
    position: absolute;
    transform: translateY(-50vh);
  }

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 32px 0px 32px 0px;
    max-width: 1140px;
}


.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
















.page-hero-header__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 396px;
}


.page-hero-header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    margin-bottom: 64px;
}

.page-hero-header__Logo {
    font-family: "Airfool";
    color: #FE959D;
    font-size: 64px;
    margin: 0;
    width: 16%;
}


.header-nav__item {
    color: #83454A;
    font-size: 20px;
    font-weight: 700;
}

.header-nav__item-contact {
    color: #83454A;
    font-size: 20px;
    font-weight: 700;
}


.hero-header__btn {
    font-family: "Airfool";
    /* background-color: #FE959D;
    padding: 18px 35px 20px 35px; */
    border-radius: 24px;
    color: #83454A;
    font-size: 32px;
}






.hero-content-text {
    width: 456px;
}

.page-hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content__img {
    width: 50%;
}

.hero-content-text__title {
    font-family: "Airfool";
    font-size: 64px;
    letter-spacing: 4px;
    color: #FE959D;
    margin: 0px 0px 16px 0;
    font-weight: 1;
}

.hero-content-text__text {
    font-size: 20px;
    font-weight: 400;
    color: #83454A;
    margin: 0px 0px 32px 0px;
}

.hero-content-text__link{
    font-family: "Airfool";
    font-size: 36px;
    color: #83454A;
    /* background-color: #FE959D;
    padding: 10px 20px 10px 20px;
    border-radius: 18px; */
}

.btn :not(:hover){
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: #FE959D;
    border-radius: 18px;
    transition: all 0.5s ease;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn :hover {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: #FF6F7A;
    border-radius: 18px;
    color: #5E373A;
    transition: all 0.5s ease;
}


.btn-go :not(:hover) {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: #FE959D;
    border-radius: 18px;
    transition: all 0.5s ease;
}

.btn-go :hover {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: #FF6F7A;
    border-radius: 18px;
    color: #5E373A;
    transition: all 0.5s ease;
}








.wrap  {
    background-image: url("../img/about_bg-image-1.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.about-content-text {
    width: 402px;
    /* display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row; */
}


.about-content-text__title {
    font-family: "Airfool";
    font-size: 48px;
    color: #FE959D;
    margin-bottom: 16px;
    margin-top: 0px;
    font-weight: 100;
}

.about-content-text__text {
    font-size: 20px;
    color: #FAEBD7;
    margin-bottom: 28px;
    margin-top: 0px;
    font-weight: 600;
}

.page-about-content {
    display: flex;
    justify-content: start;
    align-items: center;
}

.about-content__img {
    width: 45%;
    margin-right: 60px;
}

.height-about {
    height: 568px;
    display: flex;
    justify-content: start;
    align-items: center;
}







.menu-content__title {
    font-family: "Airfool";
    font-size: 48px;
    font-weight: 100;
    color: #FE959D;
    margin-bottom: 40px;
}


.content__coffe-menu {
    position: relative;
    width: 358px;
    height: 516px;
    background-color: #83454A;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.coffe-menu__stroke {
    border: solid #FAEBD7 2px;
    width: 320px;
    height: 480px;
    border-radius: 12px;
}

.coffe-menu__title-container {
    display: flex;
    justify-content: center;
    padding: 16px 0px 16px 0px
}

.coffe-menu__title{
    font-family: "Airfool";
    color: #FAEBD7;
    font-weight: 100;
    font-size: 32px;
}

.coffe-menu__item {
    margin-bottom: 12px;
}

.coffe-menu__item h4 {
    color: #FAEBD7;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}

.coffe-menu__item p {
    color: #FAEBD7;
    font-size: 14px;
    font-weight: 400;
}
.product-table {
    border-spacing: 32px 20px;
    position: relative;
}

.product-table__item {
    width: 261px;
    height: 248px;
    background-color: #FAEBD7;
    border-radius: 16px;
    box-shadow: 1px 0px 10px rgb(95, 35, 39, .25);
}

.item__title {
    width: 261px;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #83454A;
    font-size: 16px;
    font-weight: 700;
    /*margin-bottom: 20px;*/
    /*padding-top: 32px;*/
}


.item__image  {
    display: flex;
    justify-content: center;
}
.item__image img  {
    width: 237px;
    height: 173px;
}

.menu-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.elipse-setting {
    position: absolute;
    background: #FE959D;
    border-radius: 50%;
}

.elipse-1 {
    width: 230px;
    height: 230px;
    transform: translate(104px, 50px);
}

.elipse-2 {
    width: 321px;
    height: 321px;
    transform: translate(115px, 330px);
}

.elipse-3 {
    width: 167px;
    height: 167px;
    transform: translate(884px, 90px);
}

.elipse-4 {
    width: 254px;
    height: 254px;
    transform: translate(575px, 213px);
}

.elipse-5 {
    width: 181px;
    height: 181px;
    transform: translate(878px, 480px);
}

.multi_bg {
    /* Крупный горох */
    background-size: 86.4px 86.4px;
    background-repeat: repeat;
    background-position: 43px -14px, 0px 29px;
    background-color: #FE959D;
    background-image: radial-gradient(circle, #FAEBD7 30px, transparent 31px);
}

.page-where {
    margin-bottom: 0px;
} 


.where-content__title {
    font-family: "Airfool";
    color: #83454A;
    font-size: 48px;
    font-weight: 100;
    padding: 20px 70px 20px 70px;
    background-color: #FAEBD7;
    border-radius: 32px;
    width: 200px;
    box-shadow: 1px 0px 10px rgb(95, 35, 39, .25);
    margin-bottom: 40px;
}

.where-content__map {
    display: flex;
    justify-content: center;
}

.where-content__map iframe {
    border-radius: 28px;
    box-shadow: 1px 0px 10px rgb(95, 35, 39, .7);
}


.page-footer {
    background-color: #83454A;
    margin-bottom: 0px;
}

.page-footer-content__title {
    font-family: "Airfool";
    font-size: 32px;
    font-weight: 100;
    color: #FAEBD7;
    margin-bottom: 30px;
}




.social-network-icons {
    display: flex;
    justify-content: space-between;
    width: 164px;
}

.page-footer__content-contact {
    width: 206px;
}

.page-footer__content-info {
    width: 345px;
}

.contact__item {
    font-size: 20px;
    font-weight: 400;
    color: #FAEBD7;
}

.content-info__item {
    font-size: 20px;
    font-weight: 700;
    color: #FAEBD7;
}

.contact-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10px;
}

.company-yars {
    display: flex;
    justify-content: center;
    color: #FAEBD7;
    font-weight: 400;
}

